.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  margin: 4.972rem 0 4.051rem;
}

.posts {
  max-width: 720px;
  a {
    display: block;

    & + a {
      margin-top: 2rem;
    }
  }
  h3 {
    font-size: 1.75rem;
    cursor: pointer;
  }
  p {
    font-size: 1.125rem;
    color: var(--body);
    margin: 0.5rem 0 1rem;
  }
  small {
    display: flex;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }
    time {
      display: flex;
      align-items: center;
      color: var(--info);
      font-size: 0.875rem;
      margin-right: 1rem;
    }
    p {
      display: flex;
      align-items: center;
      color: var(--info);
      font-size: 0.875rem;
      margin: 0;
    }
  }
}

.button {
  margin-top: 3rem;
  background: transparent;
  color: var(--highlight);
  font-weight: 600;
  border: none;
}
